#slack-invite {
  margin-top: 2em;
  text-align: center;
  p {
    color: $red;
    font-family: EB Garamond, $serif;
    font-size: 180%;
    line-height: 1.25em;
    text-align: left;
  }
  form {
    color: $red;
    font-family: EB Garamond, $serif;
    font-size: 180%;
    input[type=email] {
      line-height: 1.25em;
      width: 11em;
      font-size: 100%;
      text-align: center;
      color: $red;
      border: none;
      border-bottom: 2px solid $red;
    }
    input[type=submit] {
      border: none;
      background-color: $red;
      color: #ffffff;      
      padding: 10px;
      font-size: 80%;
      cursor: pointer;
    }

  }
}
.text-xs-center {
  width: 225px;
  height: 85px;
  margin: 20px auto 0;
}
.g-recaptcha {
  padding: 10px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  display: inline-block;
  width: 304px;
  margin: 0 auto;
}