#sponsors {
  margin-top: 2em;
  text-align: center;

  .logos {
    padding-top: 2em;
    width: 85%;

    @include mobile{
      width: 40%;
    }
  }
  .logos.smartlogic {
    padding-top: 2.3em;
  }
  .logos.fearless {
    padding-top: 1.62em;
  }
}
