%section#location.mapfooter
  %h2.map.icon
  .background

  #address
    .row
      .column8
        %p
          Meetings @ Allovue HQ
          %br/
          RHouse (2nd Floor)
          %br/
          301 W. 29th St., #2003
          %br/
          Baltimore, MD 21211

      .column9
        %p
          Hack Nights @ Allovue HQ
          %br/
          RHouse (2nd Floor)
          %br/
          301 W. 29th St., #2003
          %br/
          Baltimore, MD 21211

    .row.text
      .column8
        %p
          Pub Nights @ Penny Black
          %br/
          1800 Thames St.
          %br/
          Baltimore, MD 21231

      .column9
        %p
          Join Us!
          %br/
          %a{href: 'http://www.meetup.com/bmore-on-rails', title: 'Our Meetup Page'} meetup.com/bmore-on-rails
